{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% vite_asset_url 'styles.scss' %}" />
    <title>{{ app_name }}</title>

    <script>
        window.PROPS = {
            redirectSignIn: {% if request.profile %}0{% else %}'{% url 'core:signin' %}'{% endif %}
        };
    </script>
    {% vite_hmr_client %}
</head>
<body>
    <div id="progress"><div id="progress-bar"></div></div>
    <ul class="messages">
            <li class="error">Making a lot of changes right now, site might be unstable</li>
        </ul>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <header id="header">
        <a href="{% url 'core:index' %}" class="logo">{{ app_name }}</a>
        <nav class="search-container">
            <ul>
                <form action="{% url 'core:results' %}" method="get">
                    <input type="text" name="search_query" id="search_query" value="{{ request.GET.search_query }}">
                    <button class="btn secondary">
                        <span class="icon search"></span>
                    </button>
                </form>
            </ul>
            <ul class="upload-menu">
                <span class="btn secondary"><a href="{% url 'core:my_videos_upload' %}" class="btn-inside">Upload</a></span>
            </ul>
        </nav>
        <nav class="my-profile-container">
            {% if request.profile or user.is_authenticated %}
                {% if request.profile %}
                    <ul>
                        <div id="my-profile-menu">
                            <span>{{ request.profile.name }}</span>
                            <img src="{{ request.profile|avatar:100 }}" width="30" height="30">
                            <span id="my-profile-dropdown" class="icon dropdown-arrow"></span>
                        </div>
                    </ul>
                {% endif %}
            {% else %}
                <ul><span class="btn primary"><a href="{% url 'core:signin' %}" class="btn-inside">Sign in</a></span></ul>
            {% endif %}
        </nav>
    </header>
    {% if request.profile %}
    <section id="nav-my-profile" data-hidden>
        <div class="playlist-container">

        </div>
        <div class="nav-container">
            <nav>
                <ul><a href="{{ request.profile.get_url }}">My Channel</a></ul>
                <ul><a href="{% url 'core:my_videos' %}">Video Manager</a></ul>
                <ul><a href="{% url 'core:subscriptions' %}">Subscriptions</a></ul>
                <ul><a href="{% url 'core:my_account' %}">Settings</a></ul>
                <ul><a href="{% url 'core:profile_switcher' %}">Switch account</a></ul>
                <ul><a href="{% url 'core:signout' %}">Sign out</a></ul>
            </nav>
        </div>
    </section>
    {% endif %}
    
    {% block content %}{% endblock %}
    <script src="{% static 'js/index.js' %}?78" async></script>
    {% vite_asset 'main.js' %}
</body>
</html>