{% extends "legacy/base.html" %}
{% block content %}
<main id="main">
    <div class="grid-layout watch">
        {% include 'legacy/widgets/guide.html' %}
        <section class="content">
            {% with autoplay=True %}
                {% include 'legacy/widgets/player.html' %}
            {% endwith %}

            <header>
                <h1>{{ video.title }}</h1>
                <section class="watch-info">
                    <div class="watch-profile">
                        <div class="profile">
                            <a href="{{ video.author.get_url }}">
                                <img src="{{ video.author|avatar:100 }}" width="48">

                            </a>
                        </div>
                        <div class="content">
                            <span class="metadata">
                                <a href="{{ video.author.get_url }}" class="author">{{ video.author.name }}</a>
                                <span class="metadata-separator">·</span>
                                <span class="created-at">{{ video.author.created_at|time_ago }}</span>
                            </span>
                            <div class="follow-container" data-profile-id="{{ video.author.record_id }}">
                                {% if video.author.record_id == request.profile.record_id %}
                                <span class="btn follow">
                                    <a href="{% url 'core:my_videos' %}" class="btn-inside">
                                        <span class="icon settings"></span>
                                        <span>Settings</span>
                                    </a>
                                </span>
                                {% else %}
                                <button class="btn follow"{% if is_following %} data-switch{% endif %}>
                                    <span class="false">Follow</span>
                                    <span class="true">Following</span>
                                </button>
                                <span class="follow-count">{{ video.author.followers_count }}</span>
                            {% endif %}
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="watch-stats">
                        <span class="watch-views"><span id="watch-view-count">{{ video.views|intcomma }}</span> views</span>
                        <div class="horizontal-bar">
                            <div class="horizontal-bar-inside"
                                style="width: {{ ratings_ratio }}%">
                            </div>
                        </div>
                        <div class="rating">
                            <span class="icon like-stats"></span>
                            {% if video.user_can_see_ratings %}
                            <span class="positive-ratings">{{ video.positive_ratings|intcomma }}</span>
                            {% endif %}
                            <span class="icon dislike-stats"></span>
                            {% if video.user_can_see_ratings %}
                            <span class="negative-ratings">{{ video.negative_ratings|intcomma }}</span>
                            {% endif %}
                            

                        </div>
                    </div>
                </section>
                <section class="watch-actions">
                    <div class="watch-vote">
                        <button class="btn secondary" data-like{% if is_liked %} data-checked{% endif %}>
                            <span class="icon like"></span>
                            <span class="desc">Like</span>
                        </button>
                        <button class="btn secondary" data-dislike{% if is_disliked %} data-checked{% endif %}>
                            <span class="icon dislike"></span>
                        </button>

                    </div>
                    <div class="tabs">

                        <!-- <span class="tab-button selected" id="btn-about">
                            About
                        </span> -->
                        <!-- <span class="tab-button" id="btn-share">
                            Share
                        </span> -->
                        <!-- <span class="tab-button" id="btn-about">
                            Add to
                        </span> -->
                    </div>

                </section>
            </header>
            <section id="watch-desc">
                <span class="watch-created-at">
                    Published on {{ video.created_at }}
                </span>
                    {% if video.description %}
                    {{ video.description|urlizetrunc:20|linebreaks}}
                    {% endif %}
                    
            </section>
                <div class="more-options">
                <button class="btn secondary" data-link="watch-desc" data-sync>
                    <span class="false">Show more</span>
                    <span class="true">Show less</span>
                </button>

                </div>
            <section class="watch-section">
                <header>
                    <b>All Comments</b> {% if video.allow_comments %}({{ video.comments_count }}){% endif %}
                </header>
                {% if video.allow_comments %}
                
                <ul id="comments-list">
                    
                </ul>

                <div class="placeholder-container">
                    <span class="icon loading-spinner"></span> <span>Loading...</span>
                </div>
                {% else %}
                    <div>
                        <span class="icon comments-disabled"></span>
                        <span>Comments are disabled for this video.</span>
                    </div>
                {% endif %}
                

            </section>
        </section>
        <aside class="side">
            <div class="video-suggestions">
                {% for video in recommended_videos %}
                <div class="video-container">
                    <div class="video-thumb-container">
                        <a href="{% url 'core:watch' %}?v={{ video.get_id }}">
                            <div class="video-thumb">
                                <img src="{% fallback_thumb video.thumbnail%}">
                                <div class="overlay">
                                    <span class="video-time">{{ video.duration|format_duration }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="video-info">
                        <a href="{% url 'core:watch' %}?v={{ video.get_id }}" class="title">
                            {{ video.title }}
                        </a>
                        <div class="video-metadata">
                            <span class="video-author">
                                by <a href="{{ video.author.get_url }}">{{ video.author.name }}</a>
                            </span> <br>
                            <span class="video-views">{{ video.views|intcomma }} views</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </aside>
    </div>
</main>
{% endblock %}