
<div id="nippy-vp">
    <div id="nippy-vp-context-menu" class="context-menu" data-hidden>
        <ul>
            <li id="menu-item-1">About the HTML5 player</li>
        </ul>
    </div>
    <div id="nippy-vp-container">
        <video 
         style="aspect-ratio: 16/9;"
            {% if autoplay %}
                autoplay
            {% endif %} 
            controls preload="auto">
            {% if video.file %}
            <source src="{{ video.file.url }}" type="video/mp4" />
            {% endif %}
        </video>
        
    </div>

</div>