// colors
$color-primary: #af2b26!default;
$color-primary-dark: #942422!default;
$color-primary-highlight: #CC181E!default;
$color-primary-light: #ffbfbd!default;

$color-warning: #a93630!default;
$color-warning-dark: #a11b1b!default;

$color-warning-alt-dark: #913d37!default;
$color-warning-alt: #c95145!default;


$color-black: #000 !default;          
$color-darkest: #111 !default;        
$color-darker: #222 !default;         
$color-dark: #333 !default;           
$color-dark-light: #444 !default;     
$color-dark-light-2: #555 !default;   
$color-dark-light-3: #666 !default;   
$color-medium-light: #777 !default;   
$color-light: #888 !default;          
$color-lighter: #999 !default;        
$color-gray-dark: #cacaca !default;        
$color-gray: #e0e0e0 !default;        
$color-white: #ffffff !default;        
$text-color: #333 !default;
$text-color-darker: #000 !default;

$border-color: #e8e8e8 !default;
$border-default: 1px solid $border-color !default;

$header-bg: #f1f1f1 !default;
$nav-my-profile-bg: #ECEEED !default;

$link-color-lighter: #2793e6 !default;
$link-color: #3c73a8 !default;

$input-border-color: #d9d9d9 !default;
$input-border-top-color: #c0c0c0 !default;
$input-focus-border-color: #1c62b9 !default;


$button-secondary-color: #fcfcfc !default;
$button-secondary-color-dark: #f8f8f8 !default;
$button-secondary-color-darker-1: #eee !default;
$button-secondary-color-darker-2: #d3d3d3 !default;
$button-secondary-color-darker-3: #c6c6c6 !default;

$button-color: #5384be !default;
$button-color-dark: #3f76b7 !default;
$button-color-dark-light: #3d71b0 !default;
$button-color-darker: #325e92 !default;

$blog-widget-background: #ffffe5 !default;
$blog-widget-border-color: #f5e082 !default;
$blog-widget-title-color: #c60 !default;

// imgs

// icons

