@use '../abstracts' as *;
#feed {
    >.item {
        padding: 8px 20px;
        font-size: 12px;
        color: $text-color;
        border-bottom: $border-default;
        position: relative;
        .context-menu {
            right: 11px;
            top: 30px;
            padding: 6px 0;
            // ul li {
            //     padding: 0 10px;
            // }
        }
        >.options {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            color: rgba($color-black, 0);
            transition: opacity .1s ease-in-out;
            button {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;

                svg {
                    width: 17px;
                    height: 17px;
                    fill: $color-dark-light-3;
                }
            }
        }

        >.header {
            display: flex;
            align-items: center;

            // padding-left: 4px;
            .container {
                padding-left: 12px;
                padding-bottom: 4px;


                a {
                    font-size: 13px;
                    color: $text-color;
                    font-weight: 700;

                }

                span {
                    margin-top: 2px;
                }
            }

            .timestamp {
                opacity: 0.6;
                font-size: 10.5px;
                margin-left: 4px;
            }
        }



        >.content {
            margin-left: 51px;

            p {
                margin: 0 0 10px;
            }
        }
    }

    >.item:hover {
        >.options {
            opacity: 1;
        }
    }
    

}

.bubble {
    position: relative;

    .link,
    .overlay {
        height: 38px;
        width: 43px;
        display: block;
    }

    img {
        margin: 5px;
    }

    .overlay {
        position: absolute;
        top: 0;
        background: no-repeat url(img/www-hitchhiker-vflrt9Dme.png) -100px -22px;


    }
}

.posting-bubble {
    padding: 8px 0;

}

.posting-container {
    border-bottom: $border-default;
    display: flex;
    padding: 8px 20px;

    form {
        width: 100%;
    }

    input[type=text],
    textarea {
        width: 100%;
        font-size: 12px;
        margin-bottom: 4px;
    }

    textarea {
        height: 75px;
    }
}

#posting-content {
    width: 100%;
    padding-left: 12px;
    display: flex;
    padding: 8px 10px;

    .errorlist {
        margin: 0;
        margin-bottom: 8px;
    }
}

.posting-options {
    display: flex;
    justify-content: right;
    padding-top: 8px;
}