@use '../abstracts' as *;
.tabs {
    display: flex;
    height: 28px;
    border-bottom: $border-default;

    a:hover {
        color: inherit;
        text-decoration: inherit;
    }
    span {
        margin-right: 2px;
    }
}

.tab-button {
    height: 100%;
    border-width: 3px;
    font-weight: bold;
    margin-left: 20px;
    font-size: 11px;
    opacity: 0.5;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    color: $text-color;

}

.tab-button.selected,
.tab-button:hover {
    border-bottom: $color-primary-dark solid;
    opacity: 1;
}