@use '../abstracts' as *;
aside {
    padding: 16px;

    ul {
        padding-left: 10px;
        line-height: 15px;
    }
}
#btn-basic-info {
    margin-left: 0;
}
#btn-save-changes {
    transition: opacity .2s ease;
  }
  #btn-save-changes:disabled {
    opacity: 0.5;
  }
#video-thumbs-list {
    display: none;
    align-items: center;
    > img {
        width: 125px;
  margin-right: 10px;
  display: inline;

    }
    > img[data-selected] {
        border: 3px solid #4693ff;
        border-radius: 5px;
    }
}

// uploader

#upload-app {
    // display: flex;
    width: 100%;

    h2,
    h3 {
        margin: 5px 0px;
        font-weight: normal;
    }

    h2 {
        color: $text-color-darker;
    }
}

#upload-info,
#upload-form {
    border: $border-default;
    border-top: none;
}


#id_comments_options label {
    font-weight: normal;
    font-size: 13px;
}

#changes {
    width: 100%;
    text-align: end;

    .side {

        .visible,
        button {
            display: inline;
        }

        span {
            padding: 0 6px;
        }

    }
}

.text-error {
    color: red;
}

// .visible {
//     display: block!important;
// }
.flex {
    display: flex !important;
}

.grid {
    display: grid !important;
}

#video-panel,
#changes {
    display: none;
    opacity: 0;
}

#video-panel.visible,
#changes.visible {
    display: block;
    animation: fadeIn .5s ease-in forwards;
}

.hidden,
#changes,
#basic-info,
#advanced-settings,
#not-saved,
#all-changes-saved,
#btn-text-saved,
#video-retrying,
#btn-save-changes {
    display: none;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#upload-progress-bar {
    border-radius: 2px;
    background: $text-color;
    width: 250px;
    height: 9px;
    padding: 1px;
    position: absolute;
    margin-top: 2px;

}

#upload-progress-bar-inside {
    border-radius: 2px;
    width: 0;
    background: #6891e7;
    height: 100%;
    transition: width .4s ease-in-out;

}

#video-upload-percentage {
    font-size: 11px;
    color: $color-white;
    position: absolute;
    right: 0;
}

#video-preview {
    min-width: 135px;
    height: 75px;
    border: 1px solid #c1c1c1;
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
}

#video-title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#upload-info {
    display: none;
    width: 70%;

    .tabs {
        margin-top: 30px;
    }


    .content {
        padding: 24px;

        .video-content {
            display: flex;

            .video-info {
                width: 100%;
                position: relative;
                margin-left: 15px;
                overflow: hidden;


                >span {
                    font-size: 11px;
                    display: none;
                }

                b {
                    font-size: 17px;
                    margin-bottom: 10px;
                    color: $text-color;
                }
            }

            .options {
                margin-left: auto;
                padding-top: 10px;
            }

            .video-info>b {
                display: block;
            }
        }

    }
}

.tab-switcher {
    display: flex;
    padding: 10px 0px;

    input[type="text"] {
        font-size: 13px;
    }

    input[type="text"],
    select,
    textarea {
        height: 30px;
        width: 100%;
    }

    textarea {
        height: 80px;
    }

    .hint {
        padding: 6px 0;
        opacity: 0.75;
        display: block;
    }

    label {
        padding: 3px 0;
    }

}

#basic-info {
    min-height: 200px;
    width: 100%;
    display: none;
    grid-template-columns: 0.6fr 0.4fr;
    column-gap: 40px;

    .settings>div,
    .side-settings>div {
        padding: 10px 0px;
    }
}

#upload-file-picker {
    display: grid;
    grid-template-columns: 676px auto;
}

#upload-form {
    padding: 16px;
    text-align: center;
    font-size: 13px;
}

#upload-form>p {
    margin: 0;
    margin-top: 16px;
}

#drag-to-upload {
    border: $border-default;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .drag-info {
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        .privacy {
            display: flex;
            align-items: center;
            padding-top: 35px;
            font-size: 11.5px;

            b {
                color: $text-color;
                padding: 0 6px;
            }
        }
    }

    #upload-arrow {
        background: url(img/upload_arrow.png);
        width: 118px;
        height: 78px;
        display: block;
        margin: 12px;
    }

    #upload-arrow:hover,
    #upload-arrow.hovered {
        background: url(img/upload_arrow_hover.png);
        cursor: pointer;

    }
}