.video-suggestions {
  min-width: 300px;
  max-width: 400px;

  .video-container {
    grid-template-columns: 120px auto;
    margin-bottom: 15px;
  }
}


.video-time {
  padding: 0 4px;
  font-weight: bold;
  font-size: 11px;
  background-color: $color-black;
  color: $color-white;
  height: 14px;
  line-height: 14px;
  opacity: 0.75;
  margin-bottom: 3px;
  transition: opacity .2s ease-in-out;
}

.video-container {
  display: grid;
  grid-template-columns: 185px auto;
}

.video-description {
  word-break: break-word;
  color: $color-medium-light;
}

.video-thumb {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .overlay:hover>.video-time {
    opacity: 0;
  }
}

.video-thumb-container {
  margin-right: 10px;
}

.video-info {
  line-height: 1.4em;
  overflow: hidden;

  .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 700;
  }

  >a,
  >span {
    display: block;
    margin-bottom: 4px;
  }
}

.metadata-separator {
  padding: 0 2px;
  color: $color-lighter;
}

.video-metadata {
  font-size: 11px;
  color: $color-dark-light-2;

  >span {
    display: inline;
  }
}

.videos-list-h {
  display: block;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;

  .video-container {
    width: 165px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;

    .video-thumb-container {
      margin-right: 0;
    }
  }
}

.video-list-container:hover {
  >button {
    width: 20px;
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 3px rgba($text-color, .1);

    span {
      opacity: 1;
    }
  }

  .slider-left {
    padding-left: 7px;
  }

  .slider-right {
    padding-right: 15px;
  }
}

.video-list-container {
  position: relative;

  >button {
    background: $color-white;
    border: none;
    width: 15px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    top: 50%;
    margin-top: -50px;

    span {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  .slider-left {

    left: -15px
  }

  .slider-right {
    right: -15px;
  }
}

.video-section {
  padding: 15px 18px;

  h3 {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-lighter;
    margin: 0 0 15px 0
  }

}

#videos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 20px 15px;

  .video-container {
    grid-template-columns: auto;
    grid-auto-rows: auto 1fr;
  }

  .video-info .title {
    white-space: wrap;

  }

  .video-thumb-container {
    margin-right: 0;
  }
}

#videos-list-v {
  .video-container {
    padding: 10px 15px;
    grid-template-columns: 160px auto;
  }

  .video-metadata {
    font-size: 12px;
    color: $color-darker;
  }

  .video-description {
    margin: 3px 0 0 0;
  }

  .video-options {
    display: flex;

    .btn-inside {
      padding: 5px 10px;
    }
  }

  .video-stats {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    color: $color-medium-light;
    font-size: 11px;

    .icon {
      width: 11px;
      height: 11px;
      background: $color-medium-light;
      margin-right: 1px;
    }
  }


  .featured-section {
    display: grid;
    grid-template-columns: 300px auto;
    border-bottom: 1px solid #e2e2e2;

  }

  .featured-video {
    padding: 20px;
    border-right: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .video-container {
      grid-template-columns: auto;
    }

    .video-thumb-container {
      margin-right: 0;
    }
  }

  .featured-list {
    padding: 20px;
    overflow: hidden;

    .video-container {
      display: flex;
      padding-bottom: 10px;
    }

    .video-thumb {
      height: 70px;
      width: inherit;

      img {
        width: inherit;
        height: 100%;
      }
    }
  }
}

