.profile-switcher {
    background: #e8e8e8;
    padding: 40px 180px !important;

    >header {
        display: flex;
        align-content: center;

        >h1 {
            margin: 0;
        }

        >nav {
            margin-left: auto;
        }

        padding-bottom: 10px;
    }

    >div {
        border-top: 1px solid #cfcfcf;
    }

    h2 {
        text-decoration: underline;
    }
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;

    >a {
        color: inherit;
        text-decoration: inherit;

        >div {
            background-color: #fefefe;
            border: 1px solid #DADADA;
            box-shadow: -1px 2px 5px 0px rgba(218, 218, 218, 1);
            padding: 12px;
            display: flex;
            transition: transform .2s ease-in-out;
        }

        >div:hover {
            transform: scale(1.1);
        }

    }

    >a:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

.profile-info {
    padding: 0px 8px;
    overflow: hidden;

    >span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .name {
        font-weight: 700;
        font-size: 16px;
    }
}

#my-profile-menu {
    display: flex;
    align-items: center;
    // max-width: 180px;
    overflow: hidden;
    cursor: pointer;

    >span {
        margin: 0 6px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    >img {
        border: 1px solid #d3d3d3;
    }
}